@using MVC_PRACTICE.Models
@model Student

<html>
    you entered the following data
    @Model.Name
    @Model.Age
    @Model.CGPA
    @Model.Semester

   Click <a asp-action = "ListStudents">Here </a>
</html>